$headerFooterRadient: linear-gradient(to right, #008000 0%, #ADD8E6 17%, #0000FF 35%, #800080 52%, #FF0000 68%, #FFA500 82%, #c4c417 97%);
$mainBgColor: #8D3738;
$headerFooterColor: #F6F1E6;
$contentBgColor: #2DB9A2;
$projektBgColor: #dea3b8;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin rainbow {
    background-image: $headerFooterRadient;
    background-clip: text;
    /* ger varning i css validatorn men har ett
    brett stöd i olika webläaare och hittare inget enkelt alternativ att använda */
    color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 8px;
}

.english {
    display: none;
}


#header {
    grid-area: header;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    font-size: 8px;

    div {
        @include flex;
        width: 40em;
        font-size: 8px;
        padding: 1rem 2rem;
        margin: 0 auto;
        background-color: $headerFooterColor;
        clip-path: polygon(5% 50%, 1% 3%, 10% 10%, 20% 3%, 30% 10%, 40% 3%, 50% 10%, 60% 3%, 70% 10%, 80% 3%, 90% 10%, 99% 3%, 95% 50%, 99% 97%, 90% 90%, 80% 97%, 70% 90%, 60% 97%, 50% 90%, 40% 97%, 30% 90%, 20% 97%, 10% 90%, 1% 97%, 0% 100%);
        opacity: 0.9;

        h1 {
            color: $mainBgColor;
            font-size: 4.5em;
            margin: 0 1rem 0 1.5rem;
        }
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        background-color: $headerFooterColor;
        color: $mainBgColor;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin: 0 0 2rem 1.5rem;
    }
}

.nav {
    grid-area: nav;
    background-color: $mainBgColor;
    position: sticky;
    top: 0;
    z-index: 1;

    ul, .project-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                padding: 0.8rem 1.5rem;
                background-color: $headerFooterColor;
                color: $mainBgColor;
                font-size: 24px;
                border-radius: 20px;
            }
        }
    }
}

#main {
    grid-area: main;
    color: $headerFooterColor;
}
#presentation {
    background-color: $mainBgColor;
}

.presentation-header {
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0;
}

div#presentation-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 32px;

    div.card {
        width: 42rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 2rem;
    }
}

#image-container {
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        /* genererar ett webkit prefix som inte stöds av css validatorn
        men som ger ett bredare stöd i äldre versioner av web browsers
        och är därför användbart */
        border-radius: 50%;
    }
}

#presentation-text {
    font-size: 3rem;
}

#upper-curve {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden; /* för att dölja överflödigt innehåll */
}

#upper-radial {
    height: 15rem;
    background-color: $mainBgColor;

    // Mask som visar en stor cirkelformad båge i toppen
    mask-image: radial-gradient(ellipse at center, transparent 70%, $contentBgColor 70.9%,);
    mask-repeat: no-repeat;
    mask-size: 130% 200%; /* täcker hela storleken, men masken visar bara toppen */
    mask-position: top center;
 
}

#upper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: $contentBgColor;
    z-index: -1;
}

#content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 5rem;
    column-gap: 2rem;
    padding: 0 3rem 1rem 2rem;
    background-color: $contentBgColor;

    div.card {
        width: 37rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 2rem;
    }
}

#skills {
    h3 {
        font-size: 3rem;
    }

    #skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 3rem;
        row-gap: 2rem;
        margin-top: 1.5rem;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;

            div {
                width: 31rem;
                height: 2.5rem;
            }

            #html {
                background: linear-gradient(to right, lightgreen 0%, lightgreen 50%, $headerFooterColor 50%, $headerFooterColor 100%);
            }

            #css {
                background: linear-gradient(to right, lightgreen 0%, lightgreen 40%, $headerFooterColor 40%, $headerFooterColor 100%);
            }

            #figma {
                background: linear-gradient(to right, lightgreen 0%, lightgreen 57%, $headerFooterColor 57%, $headerFooterColor 100%);
            }
        }
    }
}

#interests {
    h3 {
        font-size: 3rem;
    }

    #interests-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 12px;

        div {
            display: flex;
            font-size: 2.5rem;
            img {
                height: 3.5rem;
            }
        }
    }
}

#courses {
    padding: 2rem 0;
    width: 40rem !important;

    table {
        border: 1px solid $headerFooterColor;
        font-size: 2.5rem;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid $headerFooterColor;
            text-align: center;
        }
    }
}

section#project {
    padding-top: 4rem;
    background-color: $projektBgColor;

    h2 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    div#project-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 4rem 2rem;

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2.2rem;
            padding: 1rem 0 1rem;
            width: 42rem;
            gap: 0.5rem;
            border: 0.5rem solid $headerFooterColor;
            border-radius: 3rem;
            background-color: $mainBgColor;

            h3 {
                font-size: 3rem;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
            }

            p {
                padding: 0 1rem;
            }

            div {
                display: flex;
                justify-content: space-between;
                margin-top: 0.3rem;
                padding: 0 0.5rem;

                a {
                    text-decoration: none;
                    padding: 0.75rem 1.5rem;
                    background-color: $headerFooterColor;
                    color: $mainBgColor;
                    border-radius: 20px;
                }

                a:hover {
                    background-color: darken($headerFooterColor, 10%);
                }

                a:active {
                    background-color: lighten($headerFooterColor, 10%);
                }

            }
        }
    }
}

#lower-curve {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden; /* för att dölja överflödigt innehåll */
}

#lower-radial {
    height: 15rem;
    background-color: $mainBgColor;

    // Mask som visar en stor cirkelformad båge i toppen
    mask-image: radial-gradient(ellipse at center, transparent 70%, $projektBgColor 70.9%,);
    mask-repeat: no-repeat;
    mask-size: 130% 200%; /* täcker hela storleken, men masken visar bara toppen */
    mask-position: bottom center;
 
}

#lower-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: $projektBgColor;
    z-index: -1; /* så att den ligger bakom innehållet */
}

#lower-fill {
    height: 10rem;
    background-color: $mainBgColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lower-logos {
    height: 4rem;
    width: auto;
}

#footer {

    p#footer-text {
        display: flex;
        justify-content: center;
        background-color: $mainBgColor;
        padding: 1rem 0;

        span {
            color: $headerFooterColor;
        }
    }

    #contact-container {
        background-color: $mainBgColor;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 7rem 3rem;
        color: $headerFooterColor;
        font-size: 2rem;

        div {
            @include flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 1rem 2rem;
            margin-top: 1rem;

            p {
                display: flex;

                .contact-icon {
                    position: relative;
                    top: 0.05rem;;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .nav {
        display: none;
    }
}

@media screen and (min-width: 655px) and (max-width: 1246px) {
    #header {
        font-size: 12px;
        div {
            font-size: 12px;
        }
    }
    #footer {
        font-size: 12px;
    }
}

@media screen and (min-width: 1247px) and (max-width: 1440px) {
    html {
        font-size: 10px;
    }
    #header {
        font-size: 20px;
        div {
            font-size: 20px;
        }
    }
    #footer {
        font-size: 16px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1838px) {
    html {
        font-size: 12px;
    }
    #header {
        font-size: 28px;
        div {
            font-size: 28px;
        }
    }
    #footer {
        font-size: 22px;
    }
}

@media screen and (min-width: 1838px) {
    html {
        font-size: 14px;
    }
    #header {
        font-size: 36px;
        div {
            font-size: 36px;
        }
    }
    #footer {
        font-size: 28px;
    }
}