@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

#header {
  grid-area: header;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  font-size: 8px;
}
#header div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44em;
  font-size: 8px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #F6F1E6;
  clip-path: polygon(5% 50%, 1% 3%, 10% 10%, 20% 3%, 30% 10%, 40% 3%, 50% 10%, 60% 3%, 70% 10%, 80% 3%, 90% 10%, 99% 3%, 95% 50%, 99% 97%, 90% 90%, 80% 97%, 70% 90%, 60% 97%, 50% 90%, 40% 97%, 30% 90%, 20% 97%, 10% 90%, 1% 97%, 0% 100%);
}
#header div img {
  width: 5.5em;
  height: 5.5em;
}
#header div h1 {
  background-image: linear-gradient(to right, #008000 0%, #ADD8E6 17%, #0000FF 35%, #800080 52%, #FF0000 68%, #FFA500 82%, #c4c417 97%);
  -webkit-background-clip: text;
          background-clip: text;
  /* ger varning i css validatorn men har ett
  brett stöd i olika webläaare och hittare inget enkelt alternativ att använda */
  color: transparent;
  font-size: 4.5em;
  margin: 0 1rem 0 1.5rem;
}

#nav {
  grid-area: nav;
  background-color: #8D3738;
  position: sticky;
  top: 0;
  z-index: 1;
}
#nav ul, #nav .project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
#nav ul li, #nav .project-links li {
  list-style: none;
}
#nav ul li a, #nav .project-links li a {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  background-color: #F6F1E6;
  color: #8D3738;
  font-size: 24px;
  border-radius: 20px;
}

#main {
  grid-area: main;
  color: #F6F1E6;
}

#presentation {
  background-color: #8D3738;
}

#presentation-header {
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
}

div#presentation-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 32px;
}
div#presentation-container div.card {
  width: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 2rem;
}

#image-container {
  overflow: hidden;
}
#image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* genererar ett webkit prefix som inte stöds av css validatorn
  men som ger ett bredare stöd i äldre versioner av web browsers
  och är därför användbart */
  border-radius: 50%;
}

#presentation-text {
  font-size: 3rem;
}

#upper-curve {
  position: relative;
  width: 100%;
  height: 15rem;
  overflow: hidden; /* för att dölja överflödigt innehåll */
}

#upper-radial {
  height: 15rem;
  background-color: #8D3738;
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 70%, #2DB9A2 70.9%);
          mask-image: radial-gradient(ellipse at center, transparent 70%, #2DB9A2 70.9%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 130% 200%;
          mask-size: 130% 200%; /* täcker hela storleken, men masken visar bara toppen */
  -webkit-mask-position: top center;
          mask-position: top center;
}

#upper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: #2DB9A2;
  z-index: -1;
}

#content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 0 3rem 1rem 2rem;
  background-color: #2DB9A2;
}
#content-container div.card {
  width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 2rem;
}

#skills h3 {
  font-size: 3rem;
}
#skills #skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 2rem;
  margin-top: 1.5rem;
}
#skills #skills-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
#skills #skills-container section div {
  width: 31rem;
  height: 2.5rem;
}
#skills #skills-container section #html {
  background: linear-gradient(to right, lightgreen 0%, lightgreen 50%, #F6F1E6 50%, #F6F1E6 100%);
}
#skills #skills-container section #css {
  background: linear-gradient(to right, lightgreen 0%, lightgreen 40%, #F6F1E6 40%, #F6F1E6 100%);
}
#skills #skills-container section #figma {
  background: linear-gradient(to right, lightgreen 0%, lightgreen 57%, #F6F1E6 57%, #F6F1E6 100%);
}

#interests h3 {
  font-size: 3rem;
}
#interests #interests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 12px;
}
#interests #interests-container div {
  display: flex;
  font-size: 2.5rem;
}
#interests #interests-container div img {
  height: 3.5rem;
}

#courses {
  padding: 2rem 0;
}
#courses table {
  border: 1px solid #F6F1E6;
  font-size: 2.5rem;
  border-collapse: collapse;
}
#courses table td,
#courses table th {
  border: 1px solid #F6F1E6;
  text-align: center;
}

section#project {
  padding-top: 4rem;
  background-color: #dea3b8;
}
section#project h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
section#project div#project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 4rem 2rem;
}
section#project div#project-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;
  padding: 1rem 0 1rem;
  width: 42rem;
  gap: 0.5rem;
  border: 0.5rem solid #F6F1E6;
  border-radius: 3rem;
  background-color: #8D3738;
}
section#project div#project-container section h3 {
  font-size: 3rem;
  text-align: center;
}
section#project div#project-container section img {
  width: 100%;
  height: auto;
}
section#project div#project-container section p {
  padding: 0 1rem;
}
section#project div#project-container section div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  padding: 0 0.5rem;
}
section#project div#project-container section div a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  background-color: #F6F1E6;
  color: #8D3738;
  border-radius: 20px;
}
section#project div#project-container section div a:hover {
  background-color: rgb(232.5, 220, 192.5);
}
section#project div#project-container section div a:active {
  background-color: white;
}

#lower-curve {
  position: relative;
  width: 100%;
  height: 15rem;
  overflow: hidden; /* för att dölja överflödigt innehåll */
}

#lower-radial {
  height: 15rem;
  background-color: #8D3738;
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 70%, #dea3b8 70.9%);
          mask-image: radial-gradient(ellipse at center, transparent 70%, #dea3b8 70.9%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 130% 200%;
          mask-size: 130% 200%; /* täcker hela storleken, men masken visar bara toppen */
  -webkit-mask-position: bottom center;
          mask-position: bottom center;
}

#lower-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: #dea3b8;
  z-index: -1; /* så att den ligger bakom innehållet */
}

#lower-fill {
  height: 10rem;
  background-color: #8D3738;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lower-logos {
  height: 4rem;
  width: auto;
}

#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: center;
  font-size: 8px;
}
#footer p#footer-text {
  background-color: #F6F1E6;
}
#footer p#footer-text span {
  background-image: linear-gradient(to right, #008000 0%, #ADD8E6 17%, #0000FF 35%, #800080 52%, #FF0000 68%, #FFA500 82%, #c4c417 97%);
  -webkit-background-clip: text;
          background-clip: text;
  /* ger varning i css validatorn men har ett
  brett stöd i olika webläaare och hittare inget enkelt alternativ att använda */
  color: transparent;
  font-size: 2em;
}

@media screen and (min-width: 641px) {
  #nav {
    display: none;
  }
}
@media screen and (min-width: 655px) and (max-width: 1246px) {
  #header {
    font-size: 12px;
  }
  #header div {
    font-size: 12px;
  }
  #footer {
    font-size: 12px;
  }
}
@media screen and (min-width: 1247px) and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
  #header {
    font-size: 20px;
  }
  #header div {
    font-size: 20px;
  }
  #footer {
    font-size: 16px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1838px) {
  html {
    font-size: 12px;
  }
  #header {
    font-size: 28px;
  }
  #header div {
    font-size: 28px;
  }
  #footer {
    font-size: 22px;
  }
}
@media screen and (min-width: 1838px) {
  html {
    font-size: 14px;
  }
  #header {
    font-size: 36px;
  }
  #header div {
    font-size: 36px;
  }
  #footer {
    font-size: 28px;
  }
}/*# sourceMappingURL=main.css.map */