$headerFooterRadient: linear-gradient(to right,#008000 0%, #ADD8E6 17%, #0000FF 35%, #800080 52%, #FF0000 68%, #FFA500 82%, #FFFF00 97%);
$mainBgColor: #831C44;
$headerFooterColor: #F6F1E6;
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin rainbow {
    background-image: $headerFooterRadient;
    background-clip: text;
    color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 8px;
}

#grid-container {
    display: grid;
    grid-template-rows: 14rem 5rem 50rem 3rem;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
}

#header {
    grid-area: header;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    div {
        @include flex;
        width: 44rem;
        padding: 2rem;
        margin: 0 auto;
        background-color: $headerFooterColor;
        clip-path: polygon(5% 50%, 1% 3%, 10% 10%, 20% 3%, 30% 10%, 40% 3%, 50% 10%, 60% 3%, 70% 10%, 80% 3%, 90% 10%, 99% 3%, 95% 50%, 99% 97%, 90% 90%, 80% 97%, 70% 90%, 60% 97%, 50% 90%, 40% 97%, 30% 90%, 20% 97%, 10% 90%, 1% 97%, 0% 100%);
        img {
            width: 5.5rem;
            height: 5.5rem;
        }
        h1 {
            @include rainbow;
            font-size: 4.5rem;
            /*-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;*/
        }
    }
}

#nav {
    grid-area: nav;
    background-color: $mainBgColor;
    position: sticky;
    top: 0;
    z-index: 1;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
                padding: 6px 12px;
                background-color: $headerFooterColor;
                color: $mainBgColor;
                font-size: 24px;
                border-radius: 20px;
            }
        }
    }
}

#main {
    grid-area: main;
    background-color: $mainBgColor;
}

#footer {
    grid-area: footer;
    @include flex;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    p {
        background-color: $headerFooterColor;
        span {
            @include rainbow;
            font-size: 2rem;
        }
    }
}